%flex-layout-center{
    width: 100%;
    display: flex;
    justify-content: center;
    
};

%flex-layout-space-around{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
};


%flex-layout-space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
};




.nav-bar{
    @extend %flex-layout-space-between;
    
    //Blue;
    margin-top: $base-margin;
    align-items: center;

    

    .nav-brand{
        cursor: pointer;
        margin: 0 $base-padding*3 ;
        &:hover{
            border-bottom: 2px solid $hover;
        }
    }

    .nav-divider{
        height: 1px; 
        width: 55%;
        color: white;
    }

    .nav-container{
       
        width:750px;
        height: 80px;
        padding: 0 $base-padding*6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        


        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
    }

    .nav-link-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center; 

        height: 100%;

        
        
        .active{
            border-bottom: 2px solid $active;
        }

        &:hover{
            border-bottom: 2px solid $hover;
        }
    }
}